<div class="container">
	<div class="row">
		<div class="col s12 m12">
			<div class="card">
				<div class="card-content">
					<span class="card-title blue-grey-text">Welcome, Ranveer</span>
				</div>
				<div class="card-action">
					<a href="/#/profile" class="waves-effect waves-light btn blue-grey darken-3 white-text"><i class="material-icons left">person_pin</i>View Profile</a>
					<a onclick="Materialize.toast('This feature is yet to be added.', 4000)" class="waves-effect waves-light btn blue-grey darken-3 white-text hide-on-med-and-down"><i class="material-icons left">settings</i>Edit Profile</a>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content">
					<span class="card-title blue-grey-text">Last Searched Workflow</span>
					<table class="bordered">
						<tbody>
							<tr>
								<td>Trade ID</td>
								<td>TR112358</td>
							</tr>
							<tr>
								<td>Bulk ID</td>
								<td>BU1234</td>
							</tr>
							<tr>
								<td>Group ID</td>
								<td>-</td>
							</tr>
							<tr>
								<td>Quantity</td>
								<td>267</td>
							</tr>
							<tr>
								<td>Status</td>
								<td>Bulked</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="card-action">
					<a href="/#/workflow/TR112358" class="waves-effect waves-light btn blue-grey darken-3 white-text">Details</a>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content">
					<span class="card-title blue-grey-text">Last Modified Workflow</span>
					<table class="bordered">
						<tbody>
							<tr>
								<td>Trade ID</td>
								<td>TR988876</td>
							</tr>
							<tr>
								<td>Bulk ID</td>
								<td>BU3428</td>
							</tr>
							<tr>
								<td>Group ID</td>
								<td>GR342</td>
							</tr>
							<tr>
								<td>Quantity</td>
								<td>1123</td>
							</tr>
							<tr>
								<td>Status</td>
								<td>Grouped</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="card-action">
					<a href="/#/workflow/TR988876" class="waves-effect waves-light btn blue-grey darken-3 white-text">Details</a>
				</div>
			</div>
		</div>
	</div>
</div>