<div class="container">
	<div class="row">
		<div class="col l4 offset-l4">
			<div class="card">
		        <div class="card-image waves-effect waves-block waves-light">
		          	<img class="activator" src="./img/profile.jpg">
		        </div>
		        <div class="card-content">
		          <span class="card-title activator grey-text text-darken-4">Ranveer Aggarwal<i class="material-icons right">more_vert</i></span>
		          <p>APAC/ra28912</p>
		        </div>
		        <div class="card-reveal">
		          <span class="card-title grey-text text-darken-4">More Info<i class="material-icons right">close</i></span>
		          <hr>
		          <table class="centered blue-grey-text flow-text">
		          	<tbody>
		          		<tr>
		          			<td>SOEID</td>
		          			<td>RA28912</td>
		          		</tr>
		          		<tr>
		          			<td>Language</td>
		          			<td>English (US)</td>
		          		</tr>
		          		<tr>
		          			<td>Party</td>
		          			<td>Yes</td>
		          		</tr>
		          	</tbody>
		          </table>
		        </div>
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="col l4 offset-l4 center-align">
			<a onclick="Materialize.toast('This feature is yet to be added.', 4000)" class="waves-effect waves-light btn blue-grey darken-3 white-text"><i class="material-icons left">settings</i>Edit Profile</a>
		</div>
	</div>
</div>