<div class="container" ng-controller="reportsController">
	<div class="row">
		<div class="col l12 s12 blue-grey-text">
			<h4>Reports</h4>
			<hr>
		</div>
		<div class="col l6 m6 s6">
			<pie-chart data="data1" options="options1"></pie-chart>	
		</div>
		<div class="col l6 m6 s6">
			<pie-chart data="data2" options="options2"></pie-chart>	
		</div>
		<div class="col l6 m6 s6 blue-grey-text center">
			<h5>Database Status (%)</h5>
		</div>
		<div class="col l6 m6 s6 blue-grey-text center">
			<h5>Trades Undergoing Cancellation (%)</h5>
		</div>
	</div>
</div>