<div class="container">
	<div class="row">
		<div class="col l12 s12 blue-grey-text">
			<h4>Workflow</h4>
			<hr>
			<ol class="progtrckr hide-on-med-and-down" data-progtrckr-steps="4">
				<li class="progtrckr-done">Active</li>
				<li class="progtrckr-done">Initiated</li>
				<li class="progtrckr-done">Bulked</li>
				<li class="progtrckr-todo">Amalgamated</li>
			</ol>
			<br>
			<div class="card">
				<div class="card-content">
					<span class="card-title blue-grey-text">Status: Bulked</span>
					<hr>
					<table class="bordered centered">
						<tbody>
							<tr>
								<td>Trade ID</td>
								<td>TR112358</td>
							</tr>
							<tr>
								<td>Bulk ID</td>
								<td>BU1234</td>
							</tr>
							<tr>
								<td>Group ID</td>
								<td>-</td>
							</tr>
							<tr>
								<td>Quantity</td>
								<td>267</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="card-action">
					<a href="" class="waves-effect waves-light btn blue-grey darken-3 white-text">Process Trades</a>
					<br class="hide-on-large-only">
					<br class="hide-on-large-only">
					<a href="" class="waves-effect waves-light btn blue-grey darken-1 white-text">Cancel Trades</a>
					<a href="/#/" class="waves-effect waves-light btn blue-grey darken-3 white-text right hide-on-med-and-down">Home</a>
				</div>
			</div>
		</div>
	</div>
</div>