<div class="container">
	<div class="row">
		<h3 class="teal-text"><b>Our Associates</b></h3>
		<hr>
		<h4 class="teal-text">Research Institutes and International Organizations</h4>
		<div class="row">
			<div class="col m2 offset-m3">
				<a href="http://www.harvardusindiainitiative.org"><img class="responsive-img" src="img/hui.png"/></a>
			</div>
			<div class="col m2">
				<a href="http://www.hudson.org/"><img class="responsive-img" src="img/hud.png"/ ></a>
			</div>
			<div class="col m2">
				<a href="http://www.dbit.in/"><img class="responsive-img" src="img/dbi.png"/ ></a>
			</div>
		</div>
		<hr>
		<h4 class="teal-text">Mentoring Associates</h4>
		<div class="row">
			<div class="col m2 offset-m2">
				<a href="http://www.icongo.in/"><img src="img/4.gif"/></a>
			</div>
			<div class="col m2">
				<a href="http://samhita.org/"><img src="img/sam.png"/ ></a>
			</div>
			<div class="col m2">
				<a href="http://technovation.stab-iitb.org/TechGSR.php"><img src="img/7.png"/ ></a>
			</div>
			<div class="col m2">
				<a href="http://nssiitb.org/"><img src="http://nssiitb.org/images/logo_std.png" /></a>
			</div>
		</div>
		<hr>
	</div>
</div>
