<div class="container">
	<div class="row">
		<h2 class="teal-text"><strong>TechGSR</strong></h2>
		<div class="row">
			<div class="hoverable">
				<div class="card-panel teal">
				    <span class="white-text flow-text">
				    	<center>"Successful people have a social responsibility to make the world a better place and not just take from it."</center>
				    </span>
				</div>
			</div>
	    </div>
	    <div class="row">
	    	<div class="col s12 m6">
	    		<h4 class="teal-text">Our Vision</h5>
	    		<p class="flow-text">TechGSR, Socio Tech non profit Student body of IIT Bombay, believes that it is the duty of every Techgeek and also every student to be socially responsible citizen. This initiative is a tryst to not just get involved ourselves, but also involve other students, all over nation and abroad to initiate projects for development of society by using their technical knowledge.</p>
	    	</div>
	    	<div class="col s12 m6">
	    		<h4 class="teal-text">What we do</h5>
	    		<p>
	    			<ul>
						<li class="flow-text">We travel - to understand places</li>
						<li class="flow-text">We study - to understand situation</li>
						<li class="flow-text">We innovate - to develop new ideas</li>
						<li class="flow-text">We implement - to make the llifes simpler and ideas sustainable</li>
					</ul>
	    		</p>
	    	</div>
	    </div>
	</div>
</div>