<div class="container">
	<div class="row">
		<h3 class="teal-text"><b>Projects</b></h3>
		<hr>
	</div>
	<div class="row">
		<h4 class="teal-text">
			Year 2015-16
			<br>
			<b>Theme:</b> Interactive Learning
		</h4>
		<p class="flow-text">
			These year we will be working towards making learning more feasible, fun and productive for children in primary school. While we are looking at solutions which cater to all - our focus is towards helping mentally challenged and physically challenged kids in having better modes of learning.
		</p>
		<p class="flow-text">
			We are also taking forward the projects we started last year to the next stage of improvement and implementation.
		</p>
		<hr>
		<h4 class="teal-text">
			Year 2014-15
			<br>
			<b>Theme:</b> Model Village
		</h4>
		<p class="flow-text">
			We had the following projects last year.
		</p>
		<div class="col m6 sm12">
			<div class="card">
			    <div class="card-image waves-effect waves-block waves-light">
			      	<img class="responsive-img activator" src="img/projects/ambulance.png">
			    </div>
			    <div class="card-content">
			      	<span class="card-title activator grey-text text-darken-4">Transportation<i class="material-icons right">more_vert</i></span>
			      	<p><a class="activator">Know More</a></p>
			    </div>
			    <div class="card-reveal">
			      	<span class="card-title grey-text text-darken-4">Transportation<i class="material-icons right">close</i></span>
			      	<p>As currents options are not reliable and expensive for medical emergency, and in a village which is not accessible by major districts or medical facilities, we realized the need of Profitable medical emergency facility model for the rural population. On further study over the process, we analyzed the problem statement as to design an affordable, medically and mechanically equipped vehicle with a sustainable system for drivers and involved stakeholders. </p>
			    </div>
			</div>
		</div>
		<div class="col m6 sm12">
			<div class="card">
			    <div class="card-image waves-effect waves-block waves-light">
			      	<img class="responsive-img activator" src="img/projects/water.png">
			    </div>
			    <div class="card-content">
			      	<span class="card-title activator grey-text text-darken-4">Water Distribution<i class="material-icons right">more_vert</i></span>
			      	<p><a class="activator">Know More</a></p>
			    </div>
			    <div class="card-reveal">
			      	<span class="card-title grey-text text-darken-4">Water Distribution<i class="material-icons right">close</i></span>
			      	<p>Proposed an affordable water supply and purification distribution channel via cost analysis, extensive research based on the available sources and a demand study. The USP of the solution is that the supply distribution is well planned and located separately for every activity from drinking to washing. </p>
			    </div>
			</div>
		</div>
		<div class="col m6 sm12">
			<div class="card">
			    <div class="card-image waves-effect waves-block waves-light">
			      	<img class="responsive-img activator" src="img/projects/chulha.png">
			    </div>
			    <div class="card-content">
			      	<span class="card-title activator grey-text text-darken-4">Efficient Smokeless Chulah<i class="material-icons right">more_vert</i></span>
			      	<p><a class="activator">Know More</a></p>
			    </div>
			    <div class="card-reveal">
			      	<span class="card-title grey-text text-darken-4">Efficient Smokeless Chulah<i class="material-icons right">close</i></span>
			      	<p>Asthama, lose of eyesight is common among women who cook food for hours in front of the chulah working on wood, which is cut daily and brought from forest. We propose a CFD modelled better design which is made up of the same substance – which is mud, from their own farms – and thus adding on no more cost to them, and at the same time increasing the turbulence and thus the heating efficiency. Result – Zero cost, Smokeless Chulah!!</p>
			    </div>
			</div>
		</div>
		<div class="col m6 sm12">
			<div class="card">
			    <div class="card-image waves-effect waves-block waves-light">
			      	<img class="responsive-img activator" src="img/projects/safe.png">
			    </div>
			    <div class="card-content">
			      	<span class="card-title activator grey-text text-darken-4">Livelihood<i class="material-icons right">more_vert</i></span>
			      	<p><a class="activator">Know More</a></p>
			    </div>
			    <div class="card-reveal">
			      	<span class="card-title grey-text text-darken-4">livelihood<i class="material-icons right">close</i></span>
			      	<p>For around 6 months of the year, people of Hirewadi remain unemployed. So we found out some solutions for them in the form of simple prototype tests, testing their comfort with the small enterprise, sustainability, profits and feasibility.</p>
			    </div>
			</div>
		</div>
		<div class="col m6 sm12">
			<div class="card">
			    <div class="card-image waves-effect waves-block waves-light">
			      	<img class="responsive-img activator" src="img/projects/game.png">
			    </div>
			    <div class="card-content">
			      	<span class="card-title activator grey-text text-darken-4">Housing<i class="material-icons right">more_vert</i></span>
			      	<p><a class="activator">Know More</a></p>
			    </div>
			    <div class="card-reveal">
			      	<span class="card-title grey-text text-darken-4">Housing<i class="material-icons right">close</i></span>
			      	<p>A clean home is the secret to the best health of a person – This was something which lacked in the village, Hirewadi. The houses were not just unhygienic, but dark and not at all ventilated. The kitchens were filled up of smoke! So, We modelled the existing houses without any major cost investment to be made more healthier. </p>
			    </div>
			</div>
		</div>
	</div>
</div>
