<div class="container">
	<div class="row">
		<h3 class="teal-text"><b>Team</b></h3>
		<hr>

		<div class="row">
	        <div class="col s12 m4 offset-m4">
	          <div class="card hoverable">
	            <div class="card-image">
	              <img src="img/chetan.jpg">
	              <span class="card-title">Chetan Agarwal</span>
	            </div>
	            <div class="card-content">
	              <p>4th Year <br> Mechanical Engineering</p>
	            </div>
	            <div class="card-action">
	              <a class="teal-text" href="mailto:chetan.agrawal39@gmail.com">Mail Me</a>
	            </div>
	          </div>
	        </div>
      	</div>
      	<div class="row">
	        <div class="col s12 m3">
	          <div class="card hoverable">
	            <div class="card-image">
	              <img src="img/bala.jpg">
	              <span class="card-title">Balaharihar S S</span>
	            </div>
	            <div class="card-content">
	              <p>2nd Year <br> Engineering Physics</p>
	            </div>
	            <div class="card-action">
	              <a class="teal-text" href="mailto:ssb1996@gmail.com">Mail Me</a>
	            </div>
	          </div>
	        </div>
	        <div class="col s12 m3">
	          <div class="card hoverable">
	            <div class="card-image">
	              <img src="img/gulam.jpg">
	              <span class="card-title">Gulam Sarwar</span>
	            </div>
	            <div class="card-content">
	              <p>2nd Year <br> Mechanical Engineering</p>
	            </div>
	            <div class="card-action">
	              <a class="teal-text" href="mailto:gulamsarwar003@gmail.com">Mail Me</a>
	            </div>
	          </div>
	        </div>
	        <div class="col s12 m3">
	          <div class="card hoverable">
	            <div class="card-image">
	              <img src="img/raghav.jpg">
	              <span class="card-title">Raghav</span>
	            </div>
	            <div class="card-content">
	              <p>3rd Year <br> Mechanical Engineering</p>
	            </div>
	            <div class="card-action">
	              <a class="teal-text" href="mailto:raghavprapann@gmail.com">Mail Me</a>
	            </div>
	          </div>
	        </div>
	        <div class="col s12 m3">
	          <div class="card hoverable">
	            <div class="card-image">
	              <img src="img/spriha.jpg">
	              <span class="card-title">Spriha Biswas</span>
	            </div>
	            <div class="card-content">
	              <p>2nd Year <br> Metallurgy and Material Sciences</p>
	            </div>
	            <div class="card-action">
	              <a class="teal-text" href="mailto:sprihabiswas@gmail.com">Mail Me</a>
	            </div>
	          </div>
	        </div>
      	</div>
	</div>
</div>